html,
.root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
}
.body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.logo {
  color: var(--title-text-color);
}
span {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.menu-nav .link:focus {
  color: var(--accent-color);
}
.menu-link .link:hover {
  color: var(--accent-color);
}
.menu-nav .list .link .current {
  color: var(--accent-color);
}
.hero-title {
  color: var(--hero-color);
}
.section-title {
  color: var(--title-text-color);
}
.feature-list .title {
  color: var(--title-text-color);
}
.feature-list .text {
  color: var(--text-color);
}
.team-list .title {
  color: var(--title-text-color);
}
.team-list .text {
  color: var(--text-color);
}
.work-list .title {
  color: var(--title-text-color);
}
.work-list .text {
  color: var(--text-color);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}
.filter-list .filter:hover {
  color: var(--accent-color);
}
.filter-list .filter:focus {
  color: var(--accent-color);
}
.filter-list .filter {
  color: var(--text-color);
}
